<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>985769151753-5hd8o7r5k23l29mip1kldjn501csuing.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.985769151753-5hd8o7r5k23l29mip1kldjn501csuing</string>
	<key>API_KEY</key>
	<string>AIzaSyBq2KjZJfGP3w7CkEjBGfIBuubGupgCq9s</string>
	<key>GCM_SENDER_ID</key>
	<string>985769151753</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.galileoacademy.quizApp</string>
	<key>PROJECT_ID</key>
	<string>oefen-quiz-app-leaf</string>
	<key>STORAGE_BUCKET</key>
	<string>oefen-quiz-app-leaf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:985769151753:ios:62afae2ae13ead743817d8</string>
</dict>
</plist>